.card2{
    margin-top: 3rem;
    margin-left: 8rem;
    width: 80%;
    height: 450px;
    box-shadow: 10px 10px 10px 10px grey;
}
.card2 .row .col .img-fluid{
    height: 450px;
    width: 450px;
}
.card2 .row .col .card-body{
    height: 450px;
    width: 450px;
}
.card2 .row .col .card-body .card-title{
    text-align: center;
}